.setup {
  width: 100%;
  height: 100%;
  padding: 50px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setup .heading {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.setup .heading img {
  height: 25px;
}

.setup .heading button {
  width: fit-content;
  height: 40px;
  font-size: 12px;
  border-radius: 999px;
  padding: 0 20px;
}

.setup .main {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow-y: auto;
}

.setup .main::-webkit-scrollbar {
  display: none;
}

.setup .saved__item {
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 13px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.setup .saved__item .left {
  margin-top: 3px;
}

.setup .saved__item .material-symbols-outlined {
  opacity: 0.6;
  font-size: 16px;
}

.setup .bank__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.setup .account__name__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  opacity: 0.6;
}

.setup .account__name__wrapper i {
  font-size: 13px;
}

.setup .account__name__wrapper p {
  font-size: 12px;
  font-family: monospace;
}
