.scanning {
  width: 100%;
  height: 100%;
  padding: 50px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.scanning .header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  /* padding: 0 20px; */
}

.scanning .header .setup__btn {
  width: fit-content;
  height: 40px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 20px;
}

.scanning .header .setup__btn i {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.scanning .main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scanning .main button {
  flex-shrink: 0;
}

/* .camera__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 100%;
} */

.scanning .camera__view {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.camera__feed {
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 20px rgba(0, 255, 128, 0.3); */
  object-fit: cover;
}
