/* .camera__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 100%;
} */

.camera__feed {
  width: 100%;
  height: 400px;
  /* box-shadow: 0 0 20px rgba(0, 255, 128, 0.3); */
  object-fit: cover;
}
