.status {
  width: 280px;
  height: calc(100% - 50px);
  position: fixed;
  z-index: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  align-items: center;
  padding: 20px 15px 10px;
  padding-top: 30px;
  overflow: hidden;
}

.status .topbar {
  width: 100%;
  gap: 15px;
  padding: 10px 10px 15px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.status.critical {
  background-color: rgb(255, 221, 221);
}
.status.warning {
  background-color: rgb(255, 245, 189);
}
.status.good {
  background-color: rgb(232, 255, 232);
}

.status .icon__wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 223, 4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.status .icon__wrapper i {
  font-size: 20px;
  color: #fff;
}

.status .amount {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  font-family: "Montserrat";
  opacity: 0.8;
  flex-shrink: 0;
}

.status .info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  height: 100%;
}

/* .status .info__wrapper .info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.status .info__wrapper .info__item p {
  font-size: 13px;
  text-align: center;
  width: calc(100% - 40px);
}

.status .info__wrapper .info__item i {
  margin-top: 4px;
  color: rgb(10, 175, 10);
}

.status .bold {
  font-weight: 600;
} */

.status .info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.status .info__item label {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 8px;
}

.status .info__item p {
  text-align: center;
  font-size: 13px;
}

.status .date__wrapper {
  display: flex;
  text-align: center;
  gap: 10px;
  margin-top: 10px;
  opacity: 0.7;
  flex-shrink: 0;
}
.status .date__wrapper p {
  font-size: 12px;
}

.transaction__reference {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 30px;
}
.transaction__reference p {
  font-size: 10px;
  font-family: monospace;
}

.status .cr {
  font-size: 13px;
  color: rgb(151, 3, 3);
  margin-top: 10px;
  text-align: center;
}

.status .cr b {
  font-size: 18px;
  color: rgb(151, 3, 3);
  margin-bottom: 5px;
  font-weight: 900;
}

.status .your__account {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  
}
